spring:
  application:
    name: codin-lecture-api
  config:
    import: optional:file:.env[.properties]
  jwt:
    secret: ${SPRING_JWT_SECRET}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
    elasticsearch:
      repositories:
        enabled: false
  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: ${JPA_DDL_AUTO}
    show-sql: true
  ai:
    model:
      chat: openai
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4.1-mini
          temperature: 0.7
  task:
    scheduling:
      pool:
        size: 2
      thread-name-prefix: scheduled-task-
    execution:
      pool:
        core-size: 2
        max-size: 4
        queue-capacity: 100
  elasticsearch:
    username: ${SPRING_ELASTICSEARCH_USERNAME}
    password: ${SPRING_ELASTICSEARCH_PASSWORD}
    uris: ${SPRING_ELASTICSEARCH_URIS}

caPath: ${CA_PATH}

lecture:
  python:
    path: ${PYTHON_PATH:./example}
  file:
    path: ${PYTHON_FILE_PATH:./example}

server:
  port: ${SERVER_PORT}
  domain: ${SERVER_DOMAIN}
  forward-headers-strategy: framework
  feign:
    url: ${SERVER_FEIGN_URL}

logging:
  level:
    root: info
    sql: debug
    org.hibernate.sql: info